{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block styles %}
<style>
    h1 {
        text-align: center;
        padding-top: var(--base-padding);
    }

    #team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #team > h1 {
        grid-column: 1 / -1;
    }

    .team-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: calc(0.5 * var(--base-padding));
        background-color: var(--card-header);
        border: 1px solid var(--card-border);
        border-radius: var(--base-border-radius);
        padding: var(--base-padding);
    }

    .team-info > img {
        justify-self: center;
        border-radius: 50%;
        border: 2px solid var(--seperator-color);
    }

    .name {
        font-weight: 600;
    }

    .degree {
        font-style: italic;
        text-transform: capitalize;
    }
</style>
{% endblock styles %}

{% block body %}
    <div class="container">
        <section id="about-us">
            <h1>About us</h1>
            <h2>What we do</h2>
            <p>
                With the rise of anime culture in recent years we recognise a greater need for connecting the so called weebs around the world.
                As such, Animeu was born, created as a tool for weebs to express themselves and the love they have for their waifus.
                Our mission is to provide a platform for every waifu to receive their love, and for our users to proudly declare their irrefutabletruth: Who is Best Girl.
                Our revolutionary babe-first search allows weebs to easily find a new anime to add to their watchlists.
            </p>
            <h2>How to use our website</h2>
            <p>
                At the top of the screen there are several tabs with take you to different areas of the app.
            </p>
            <h3><i class="fas fa-rss-square"></i> Feed</h3>
            <p>
                The feed shows the performance of different waifus using a variety of metrics. It also displays summaries
                of the recent battles.
            </p>
            <h3><i class="fas fa-fire-alt"></i> Battle</h3>
            <p>
                The battle tab allows you to influence the leaderboards by taking part in battles. Each battle involves chooding
                which of the two presented characters you would choose to be your waifu. You can also 'favourite' a character in
                this screen by clicking the love-heart button near their name!
            </p>
            <h3><i class="fas fa-id-badge"></i> Profile</h3>
            <p>
                Your profile summarizes your recent activity on the site - look back fondly on past battles and look at waifus you've favourited.
            </p>
        </section>
        <section id="team">
            <h1>Team</h1>
            <div class="team-info">
                <img alt="profile-picture" src="https://www.gravatar.com/avatar/{{ 'hollingworth.henry@gmail.com' | md5 }}?d=identicon&s=160" class="profile-picture">
                <span class="name">Henry H.</span>
                <span class="role">Founder</span>
                <span class="degree">bachelor of science: computer science</span>
            </div>
            <div class="team-info">
                    <img alt="profile-picture" src="https://www.gravatar.com/avatar/{{ 'student@uwa.edu.au' | md5 }}?d=identicon&s=160" class="profile-picture">
                <span class="name">Viet N.</span>
                <span class="role">Co-Founder</span>
                <span class="degree">bachelor of science: computer science</span>
            </div>
        </section>
    </div>
{% endblock body %}
