<style>

.hidden {
  display: none;
}

.card-footer {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 1em;
}

.proposal-button {
  flex-grow: 1;
}

/* Layout the information in the character cards and adapt to sceen
    * sizes.
    */

.primary-name button {
  float: right;
  grid-row: 3;
}

.primary-name button:not(:first-child) {
  margin-right: 0.5em;
}

.primary-name .english-name {
  grid-row: 1;
}

.character-card .card-body {
  display: grid;
  grid-row-gap: 1em;
  grid-template-rows: repeat(auto-fit, minmax(0, 3));
}

/* Toggle the visibility of different sections of the card depending
    * on the 'view' stype class that is currently applied to the
    * character card.
    */

.character-card.info-view .info-view-visible {
  display: initial !important;
}

.character-card.pictures-view .picture-view-visible {
  display: initial !important;
}

.character-card.description-view .description-view-visible {
  display: initial !important;
}

.character-card.overlay-view .overlay-view-visible {
  display: initial !important;
}

.character-card:not(.info-view) .info-view-visible {
  display: none;
}

.character-card:not(.pictures-view) .picture-view-visible {
  display: none;
}

.character-card:not(.description-view) .description-view-visible {
  display: none;
}

.character-card:not(.overlay-view) .overlay-view-visible {
  display: none;
}

.description-view .character-picture-carousel {
  justify-self: center;
}

.picture-view .picture-view-visible.pictures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-auto-rows: 350px;
  gap: 2em 2em;
}

.pictures-grid img {
  justify-self: center;
  align-self: center;
  max-width: 225px;
  max-height: 350px;
}

@media screen and (max-width: 1919px) {
  .picture-view .picture-view-visible.pictures-grid {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    grid-auto-rows: 195px;
  }

  .pictures-grid img {
    max-width: 125px;
    max-height: 195px;
  }
}

@media screen and (max-width: 1100px) {
  .picture-view .picture-view-visible.pictures-grid {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 195px;
  }

  .pictures-grid img {
    max-width: 125px;
    max-height: 195px;
  }
}

.character-card.info-view .card-body {
  grid-template-rows: minmax(350px, min-content) repeat(
      auto-fit,
      minmax(min-content, min-content)
    );
}

@media screen and (min-width: 992px) {
  .character-card.info-view .card-body {
    grid-template-columns: 255px 1fr;
    grid-column-gap: 1em;
  }
  .character-card.picture-view .card-body {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    grid-column-gap: 1em;
  }
}

.character-card.info-view .anime-roles-grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fit, 190px);
  grid-auto-rows: 32px;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.character-card.info-view .character-brief-metadata-flex {
  display: flex;
  flex-direction: column;
}

.character-card.info-view .character-brief-metadata-flex > *:not(:first-child) {
  margin-top: 1em;
}

.anime-role {
  width: 190px;
  display: grid;
  font-size: 11px;
  line-height: 1.5em;
  grid-template-columns: 23px 1fr;
  grid-column-gap: 1em;
}

.anime-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 140px;
}

.anime-role .anime-role-type {
  grid-column: 2 / -1;
}

.anime-role img {
  border: 1px solid lightgray;
  padding: 1px;
}

.character-description {
  font-size: 12px;
}

/* On smaller screens we can't fit both the picture gallery and
    * the 'info fields' on a single row.
    */
@media screen and (max-width: 992px) {
  .character-card .card-body {
    grid-template-columns: 1fr;
  }

  /* When displaying the picture gallery in it's own row we
        * need to make sure we center it.
        */
  .character-picture-carousel {
    justify-self: center;
  }
}

/* Layout the character cards themselves and the rating controls
    * at a high level.
    */

.battle-grid {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.character-card:first-child {
    margin-right: 2em;
}

.character-card {
  flex-grow: 1;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .battle-grid {
    flex-direction: column;
  }

  .character-card {
    width: 100%;
  }

  .character-card:first-child {
    margin-bottom: 2em;
  }
}

.carousel {
    width: 225px;
    height: 350px;
}

</style>
