{% from "carousel.html" import carousel with context %}
{% from "character_card.html" import character_card with context %}
{% extends "base.html" %}

{% block title %}Battle{% endblock %}

{% block styles %}
    {% include "carousel.css" without context %}
    {% include "character_card.css" without context %}
    <style>
        .hidden {
            display: none;
        }

        .card-footer {
            display: grid;
            grid-template-columns: 40px 1fr;
            gap: 1em;
        }

        .proposal-button {
            flex-grow: 1;
        }

        /* Layout the character cards themselves and the rating controls
         * at a high level.
         */

        .battle-grid {
            display: flex;
            flex-direction: row;
            padding: 1em;
        }

        .character-card:first-child {
            margin-right: 2em;
        }

        .character-card {
            flex-grow: 1;
            min-height: 100%;
            width: 50%;
        }

        @media screen and (max-width: 1023.9px) {
            .battle-grid {
                flex-direction: column;
            }

            .character-card {
                width: 100%;
            }

            .character-card:first-child {
                margin-bottom: 2em;
            }
        }
    </style>
{% endblock styles %}

{% block body %}
    {% macro battle_card(id, character, form) %}
        {% set en_name = character["names"]["en"][0] %}
        {% call(is_header, is_body, is_footer) character_card(id, character) %}
            {% if is_footer %}
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-secondary jump-to-top">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <form method="POST" action="{{ url_for('battle_bp.submit_battle') }}">
                        {{ form.csrf_token(id=id+"csrf") }}
                        {{ form.winner_name(id=id+"winner", required=False) }}
                        {{ form.loser_name(id=id+"loser", required=False) }}
                        <button class="btn btn-outline-primary proposal-button">
                            Make <b class="proposal-name">{{ en_name.split() | first }}</b> your waifu!
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endcall %}
    {% endmacro %}
    <section class="battle-grid">
        {{ battle_card("left", left, left_form) }}
        {{ battle_card("right", right, right_form) }}
    </section>
{% endblock body %}

{% block scripts %}
    {% include "carousel.js" without context %}
    {% include "character_card.js" without context %}
    {% include "favourite.js" without context %}
    <script>
        $(document).ready(() => {
            $(".favourite-button").each((i, btn) => {
                FavoritingButton(
                    btn,
                    $(btn).siblings(".english-name").text().trim(),
                    () => btn.querySelector("i").classList.replace("far", "fas"),
                    () => btn.querySelector("i").classList.replace("fas", "far")
                );
            });
        });
    </script>
{% endblock scripts %}
