<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animeu - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ asset_url_for('styles.css') }}"/>
</head>
<body>
    <h1>Hello World!!!</h1>
    <script src="{{ asset_url_for('scripts.js') }}"></script>
    <script src="{{ asset_url_for('scripts.js') }}"></script>
    {% if config['DEBUG'] %}
        <script src="{{ asset_url_for('styles.js') }}"></script>
    {% endif %}
</body>
</html>