{% extends "base.html" %}
{% from "carousel.html" import carousel with context %}
{% block body %}

    <script>
        $(document).ready(() => {
            const VIEWS = ["picture-view", "info-view", "description-view"];

            function toggleCardView(viewToToggle, $allCards, $selectedCards, singleExpand) {
                /* We may have entered a single-card view and then shift-clicked
                 * and enabled the multi-display view. Because a potentially
                 * hidden card should (maybe) now be shown we set them all to
                 * be visible and then let the normal logic decide which ones
                 * are not visible.
                 */
                $allCards.removeClass("hidden");
                const selectedCards = $selectedCards.toArray();
                const allSelectedCardsAreInToggleView = selectedCards.every(sc => $(sc).hasClass(viewToToggle));

                for (const card of $allCards) {
                    const $card = $(card)
                    if (selectedCards.some(sc => sc.id === $card.prop("id"))) {
                        for (const view of VIEWS) {
                            $card.removeClass(view);
                        }
                        $card.removeClass("hidden");
                    } else if (! allSelectedCardsAreInToggleView) {
                        $card.addClass("hidden");
                    }
                }

                $(".battle-grid").removeClass("expand-single");
                for (const view of VIEWS) {
                    $allCards.find(`.toggle-${view}`).removeClass("active");
                }
                if (allSelectedCardsAreInToggleView) {
                    $selectedCards.removeClass(viewToToggle);
                    $selectedCards.addClass("info-view");
                } else {
                    $selectedCards.addClass(viewToToggle);
                    $selectedCards.find(`.toggle-${viewToToggle}`).addClass("active");
                    if (selectedCards.length === 1) {
                        $(".battle-grid").addClass("expand-single");
                    }
                }
            }

            $(".toggle-image-view").click(e => {
                const $allCards = $(".character-card");
                const clickedButton = $(e.target);
                const $selectedCards = e.ctrlKey
                    ? $allCards
                    : clickedButton.closest(".character-card");
                toggleCardView("picture-view", $allCards, $selectedCards);
                e.preventDefault();
                e.stopPropagation();
            });

            $(".toggle-description-view").click(e => {
                const $allCards = $(".character-card");
                const clickedButton = $(e.target);
                const $selectedCards = e.ctrlKey
                    ? $allCards
                    : clickedButton.closest(".character-card");
                toggleCardView("description-view", $allCards, $selectedCards);
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>

    {% macro character_card(id, character) -%}
        {% set en_name = character["names"]["en"][0] %}
        {% set jp_name = character["names"]["jp"][0] %}
        {% set info_fields = character["info_fields"] %}
        {% set tags = character["tags"] %}
        {% set description = character["descriptions"][0] %}
        {% set gallery_urls = character["pictures"]["gallery"] %}
        {% set anime_roles = character["anime_roles"] %}
        <div class="card character-card info-view" id="{{ id }}">
            <h5 class="card-header">
                <div class="primary-name">
                    <span>{{ en_name }}</span>
                    <button type="button" class="toggle-image-view btn btn-outline-secondary">
                        <i class="fas fa-images"></i>
                    </button>
                    <button type="button" class="toggle-description-view btn btn-outline-secondary">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="far fa-heart" style="color: red;"></i>
                    </button>
                </div>
                <small class="jp-name font-weight-bold">{{ jp_name }}</small>
            </h5>
            <div class="card-body">
                <div class="pictures-grid picture-view-visible">
                    {% for url in gallery_urls %}
                        <img src="{{ url }}" />
                    {% endfor %}
                </div>
                <div class="character-picture-carousel description-view-visible info-view-visible">
                    {{ carousel(id + "_carousel", gallery_urls) }}
                </div>
                <div class="character-brief-metadata-flex info-view-visible">
                    <div class="anime-roles-grid">
                        {% for anime_role in anime_roles[:7] | sort(attribute="role") %}
                            {% if "picture" in anime_role %}
                                <div class="anime-role">
                                    <img src="{{ anime_role['picture'] }}" />
                                    <div>
                                        <a href="#" class="anime-name">{{ anime_role["name" ]}}</a>
                                        <small class="anime-role-type">{{ anime_role["role"] }}</small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if anime_roles | length > 7 %}
                            <a href="#">View All Animes</a>
                        {% endif %}
                    </div>
                    <div class="tags-list">
                        {% for tag in tags %}
                            <span class="m-1 p-2 badge badge-light">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="character-description description-view-visible">
                    <table class="table attributes-table table-sm">
                        <tbody>
                            {% for field in info_fields %}
                                <tr>
                                    <td>{{ field["key"] }}</td>
                                    <td>{{ field["value"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if description %}
                        <p>{{ description }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary">
                        Waifu
                </button>
            </div>
        </div>
    {%- endmacro %}

    <style>
       .hidden {
           display: none;
       }

       /* Layout the information in the character cards and adapt to sceen
        * sizes.
        */

        .primary-name button {
            float: right;
        }

        .primary-name button:not(:first-child) {
            margin-right: 0.5em;
        }

        .character-card .card-body {
            display: grid;
            grid-row-gap: 1em;
        }

        /* Toggle the visibility of different sections of the card depending
         * on the 'view' stype class that is currently applied to the
         * character card.

        .info-view .info-view-visible {
            display: initial;
        }

        .info-view .picture-view-visible {
            display: none;
        }

        .picture-view .info-view-visible {
            display: none;
        }

        .picture-view .picture-view-visible {
            display: initial;
        }
        */

        .character-card.info-view .info-view-visible {
            display: initial !important;
        }

        .character-card.pictures-view .picture-view-visible {
            display: initial !important;
        }

        .character-card.description-view .description-view-visible {
            display: initial !important;
        }

        .character-card:not(.info-view) .info-view-visible {
            display: none;
        }

        .character-card:not(.pictures-view) .picture-view-visible {
            display: none;
        }

        .character-card:not(.description-view) .description-view-visible {
            display: none;
        }

        .description-view .character-picture-carousel {
            justify-self: center;
        }

        .picture-view .picture-view-visible.pictures-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
            grid-auto-rows: 350px;
            gap: 2em 2em;
        }

        .pictures-grid img {
            justify-self: center;
            align-self: center;
            max-width: 225px;
            max-height: 350px;
        }

        .character-card.info-view .card-body {
            grid-template-rows: minmax(350px, min-content) repeat(auto-fit, minmax(min-content, min-content));
        }

        @media screen and (min-width: 992px) {
            .character-card.info-view .card-body {
                grid-template-columns: 255px 1fr;
                grid-column-gap: 1em;
            }
            .character-card.picture-view .card-body {
                grid-template-columns: 1fr;
                grid-template-rows: initial;
                grid-column-gap: 1em;
            }
        }

        .character-card.info-view .anime-roles-grid {
            display: grid;
            grid-column: 1 / -1;
            grid-template-columns: repeat(auto-fit, 190px);
            grid-auto-rows: 32px;
            grid-row-gap: 1em;
            grid-column-gap: 1em;
        }

        .character-card.info-view .character-brief-metadata-flex {
            display: flex;
            flex-direction: column;
        }

        .character-card.info-view .character-brief-metadata-flex > *:not(:first-child) {
            margin-top: 1em;
        }

        .anime-role {
            width: 190px;
            display: grid;
            font-size: 11px;
            line-height: 1.5em;
            grid-template-columns: 23px 1fr;
            grid-column-gap: 1em;
        }

        .anime-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            width: 150px;
        }

        .anime-role .anime-role-type {
            grid-column: 2 / -1;
        }

        .anime-role img {
            border: 1px solid lightgray;
            padding: 1px;
        }

        .character-description {
            font-size: 12px;
        }

        /* On smaller screens we can't fit both the picture gallery and
         * the 'info fields' on a single row.
         */
        @media screen and (max-width: 992px) {
            .character-card .card-body {
                grid-template-columns: 1fr;
            }

            /* When displaying the picture gallery in it's own row we
             * need to make sure we center it.
             */
            .character-picture-carousel {
                justify-self: center;
            }
        }


       /* Layout the character cards themselves and the rating controls
        * at a high level.
        */

        .battle-grid {
            display: grid;
            padding: 1em;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
        }

        @media screen and (max-width: 640px) {
            .battle-grid {
                grid-template-columns: 1fr;
                grid-row-gap: 1em;
            }
        }

        .battle-grid.expand-single {
            padding-left: 10%;
            padding-right: 10%;
            grid-template-columns: 1fr;
            grid-column-gap: initial;
        }

        @media screen and (max-width: 1920px) {
            .battle-grid.expand-single {
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    </style>

    <section class="battle-grid">
        {{ character_card("left", left) }}
        {{ character_card("right", right) }}
    </section>



{% endblock body %}