{% from "carousel.html" import carousel without context %}

{% macro battlecard(battle, class="") %}
    <div class="battlecard">
        {% set winner_en_name = battle["winner"]["names"]["en"][0] %}
        {% set winner_jp_name = battle["winner"]["names"]["jp"][0] %}
        {% set winner_gallery_urls = battle["winner"]["pictures"]["gallery"] %}
        {% set loser_en_name = battle["loser"]["names"]["en"][0] %}
        {% set loser_jp_name = battle["loser"]["names"]["jp"][0] %}
        {% set loser_gallery_urls = battle["loser"]["pictures"]["gallery"] %}
        <div class="winner picture-carousel">
            {{ carousel("winner-carousel", winner_gallery_urls, show_indicators=False) }}
        </div>
        <div class="info winner-info">
            <i class="fas fa-church"></i>
            <span class="message winner-message">Waifu</span>
            <span class="name">
                <a href="{{ url_for('info_bp.info', character_name=winner_en_name) }}">
                    {{ winner_en_name }}
                </a>
            </span>
            <span class="japanese">{{ winner_jp_name }}</span>
        </div>
        <span class="vs"></span>
        <div class="info loser-info">
            <i class="fas fa-heart-broken"></i>
            <span class="message loser-message">Rejected</span>
            <span class="name">
                <a href="{{ url_for('info_bp.info', character_name=loser_en_name) }}">
                    {{ loser_en_name }}
                </a>
            </span>
            <span class="japanese">{{ loser_jp_name }}</span>
        </div>
        <div class="loser picture-carousel">
            {{ carousel("loser-carousel", loser_gallery_urls, show_indicators=False) }}
        </div>
    </div>
{% endmacro %}
