{% macro carousel(name, gallery_urls, show_indicators=True) %}
    <div id="{{ name }}" class="carousel">
        {% for gallery_url in gallery_urls %}
            <div class="{{ 'carousel-item-container slide-in visible initial-image' if loop.first else 'carousel-item-container' }}"
                 data-index="{{ loop.index }}"
            >
                <img  src="{{ gallery_url }}" />
            </div>
        {% endfor %}
        {% if show_indicators %}
            <div class="indicators">
                {% for gallery_url in gallery_urls %}
                    <div data-index="{{ loop.index }}" class="{{ 'selected' if loop.first else '' }} indicator"></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>
        $(document).ready(() => {
            $(".carousel").carousel({
                interval: 5000000
            });
        })
    </script>
{%- endmacro %}
