{% macro carousel(name, gallery_urls, show_indicators=True) %}
    <div id="{{ name }}" class="carousel">
        {% for gallery_url in gallery_urls %}
            <img data-index="{{ loop.index }}" class="{{ 'active' if loop.first else '' }}" src="{{ gallery_url }}" />
        {% endfor %}
        {% if show_indicators %}
            <div class="indicators">
                {% for gallery_url in gallery_urls %}
                    <div data-index="{{ loop.index }}" class="{{ 'active' if loop.first else '' }} indicator"></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>
        $(document).ready(() => {
            $(".carousel").carousel({
                interval: 5000000
            });
        })
    </script>
{%- endmacro %}
