<style>
    .carousel {
        overflow: hidden;
        display: flex;
        align-content: center;
    }

    .carousel-image-container {
        display: none;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }

    .carousel-image-container.visible {
        display: initial;
        position: absolute;
    }

    @keyframes fade-out {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes fade-in {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .carousel > img.fade-out {
        animation: fade-out 0.6s linear;
    }

    .carousel > img.fade-in:not(.initial-image) {
        animation: fade-in 0.6s linear;
    }

    .indicators {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        justify-content: space-around;
        gap: 1em;
        margin: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 1em;
    }

    .indicator {
        background-color: black;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        cursor: pointer;
        height: 0.25em;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .indicator.active {
        background-color: #fff;
    }
</style>
