{% macro leaderboard(id, title, entries=[], class="") %}
    <div class="leaderboard {{ class }}">
        <div class="header">
            {% if title %}
                <span class="title">{{ title }}</span>
            {% endif %}
            {{ caller(None, is_header=True, is_no_content=False, is_entry=False) if caller else "" }}
        </div>
        {% if not entries %}
            {{ caller(None, is_header=False, is_no_content=True, is_entry=False) if caller else "" }}
        {% endif %}
        {% if (entries | map(attribute="counters") | chain | map(attribute="count") | select | list | length) > 0 %}
            {% set max_counter_width = entries | map(attribute="counters") | chain | map(attribute="count") | select | map('string') | map('length') | max %}
        {% else %}
            {% set max_counter_width = 1 %}
        {% endif %}
        {% for entry in entries %}
            <div class="entry">
                <span class="rank">{{ loop.index }}</span>
                {{ carousel( "%s-carousel-%d" | format(id, loop.index) , entry['gallery'], show_indicators=False) }}
                <span class="en-name">
                    <a href="{{ url_for('info_bp.info', character_name=entry['en_name']) }}">
                        {{ entry['en_name'] }}
                    </a>
                </span>
                <span class="jp-name japanese">{{ entry['jp_name'] }}</span>
                {% for counter in entry["counters"] %}
                    <span class="counter {{ counter['class'] }}" style="width: {{ max_counter_width + 2 }}ch">
                        <span class="counter-title">{{ counter["title"] }}</span>
                        <span class="counter-count">{{ counter["count"] or "U" }}</span>
                    </span>
                {% endfor %}
                {{ caller(entry, is_header=False, is_no_content=False, is_entry=True) if caller else "" }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}