<style>
    .leaderboard {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr;
        gap: var(--base-padding);
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        border-radius: var(--base-border-radius);
        padding-bottom: var(--base-padding);
    }

    .leaderboard > .header {
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: var(--card-header);
        height: calc(4 * var(--base-padding));
    }

    .leaderboard > .header > .title {
        font-size: 1.4em;
        font-weight: 600;
    }

    .leaderboard > .entry {
        border-radius: 5px;
        display: grid;
        grid-template-columns: minmax(2ch, max-content) 4.32em 1fr 1fr;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        gap: 1em;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.015);
        margin: 0 0.6em;
        border: 1px solid rgba(0, 0, 0, 0.105);
        padding: 0.6em;
    }

    .leaderboard > .entry > .rank {
        font-weight: 600;
    }

    .leaderboard > .entry > span {
        display: inline-block;
    }

    .leaderboard > .entry > .carousel {
        height: 4.32em;
        width: 3.12em;
    }

    .leaderboard > .entry > .counter {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0.2em 0.4em;
        border-radius: 5px;
        color: white;
    }

    .leaderboard > .entry > .counter > .counter-count {
        text-align: center;
    }

    .leaderboard > .entry > .en-name, .leaderboard > .entry > .jp-name {
        justify-self: flex-start;
    }

    .green-counter {
        background-color: #28a745;
    }

    .red-counter {
        background-color: #dc3545;
    }

    .counter-title {
        display: inline-block;
        padding: 0.2em 0.3em;
        font-size: 0.8em;
        border-radius: 5px;
        width: 100%;
        text-align: center;
    }

    .green-counter > .counter-title {
        background-color: #166127;
    }

    .red-counter > .counter-title {
        background-color: #771d26;
    }
</style>
