<style>
    .leaderboard {
        display: grid;
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        grid-auto-rows: max-content;
        gap: 0.6em;
        align-self: flex-start;
        padding-bottom: 1em;
    }

    .leaderboard > .title {
        background-color: rgba(0, 0, 0, 0.03);
        text-align: center;
        padding: 0.2em 0;
        font-weight: 600;
        font-style: oblique;
    }

    .leaderboard > .entry {
        border-radius: 5px;
        display: grid;
        grid-template-columns: minmax(2ch, max-content) 4.32em 1fr 1fr;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        gap: 1em;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.015);
        margin: 0 0.6em;
        border: 1px solid rgba(0, 0, 0, 0.105);
        padding: 0.6em;
    }

    .leaderboard > .entry > .rank {
        font-weight: 600;
    }

    .leaderboard > .entry > span {
        display: inline-block;
    }

    .leaderboard > .entry > .carousel {
        height: 4.32em;
        width: 3.12em;
    }

    .leaderboard > .entry > .counter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0.2em 0.4em;
        border-radius: 5px;
        color: white;
    }

    .leaderboard > .entry > .counter > .counter-count {
        text-align: center;
    }

    .leaderboard > .entry > .en-name, .leaderboard > .entry > .jp-name {
        justify-self: flex-start;
    }

    .win-counter {
        background-color: #28a745;
    }

    .loss-counter {
        background-color: #dc3545;
    }

    .counter-title {
        display: inline-block;
        padding: 0.2em 0.3em;
        font-size: 0.8em;
        border-radius: 5px;
        width: 2em;
        text-align: center;
    }

    .win-counter > .counter-title {
        background-color: #166127;
    }

    .loss-counter > .counter-title {
        background-color: #771d26;
    }
</style>
