<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand japanese font-weight-bold" href="{{ url_for('index') }}">アニメ</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav"
            aria-controls="#navbar-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-items" id="navbar-nav">
      <ul class="navbar-nav navbar-items">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('feed_bp.feed') }}">
            <i class="fas fa-rss-square"></i>
            <span>Feed</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('battle_bp.battle') }}">
            <i class="fas fa-fire-alt"></i>
            <span>Battle</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile_bp.profile') }}">
            <i class="fas fa-id-badge"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_bp.logout') if current_user.is_authenticated else url_for('auth_bp.login') }}">
              <i class="fas {{ 'fa-sign-out-alt' if current_user.is_authenticated else 'fa-sign-in-alt' }}"></i>
              <span>{{ 'Sign Out' if current_user.is_authenticated else 'Sign In' }}</span>
            </a>
        </li>
        {% if current_user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-tools"></i>
                <span>Admin</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
</nav>

<style>
  .navbar-items{
    justify-content: flex-end;
  }
</style>