<style>
    :root {
        --card-bg: rgba(0, 0, 0, 0.1);
        --card-border: rgba(0, 0, 0, 0.8);
        --card-header: rgba(0, 0, 0, 0.3);
        --base-border-radius: 5px;
        --base-padding: 1em;
        --seperator-color: rgba(0, 0, 0, 0.8);
        --info-message-color: rgb(146, 145, 145);
        --detail-font-size: 11px;
    }
</style>
