{% from "carousel.html" import carousel with context %}
{% from "character_card.html" import character_card with context %}
{% extends "base.html" %}

{% block styles %}
    {% include "carousel.css" without context %}
    {% include "character_card.css" without context %}
    <style>
        .info {
            padding: var(--base-padding);
        }

        .character-picture-carousel {
            display: none !important;
        }

        button.toggle-description-view, button.toggle-picture-view {
            display: none !important;
        }

        .card-body {
            grid-template-columns: 1fr !important;
            grid-template-rows: auto 1fr max-content max-content !important;
            gap: var(--base-padding) !important;
            justify-items: initial !important;
        }

        .card-body > * {
            padding-bottom: var(--base-padding);
            border-bottom: 1px solid var(--seperator-color);
        }

        .pictures-grid {
            grid-area: 1 / 1 / 2 / 2 !important;
        }

        .anime-roles-grid {
            grid-area: 2 / 1 / 3 / 2 !important;
        }

        .tags-list {
            grid-area: 3 / 1 / 4 / 2 !important;
        }

        .info-fields {
            grid-area: 4 / 1 / 5 / 2 !important;
            grid-template-columns: 1fr !important;
        }

        .info-field {
            border-bottom: initial !important;
        }

        .character-description {
            grid-area: 5 / 1 / 6 / 2 !important;
        }

    </style>
{% endblock styles %}

{% block body %}
    <section class="info">
        {{ character_card("character", character, "picture-view info-view description-view") }}
    </section>
{% endblock body %}

{% block scripts %}
    {% include "carousel.js" without context %}
    {% include "character_card.js" without context %}
    {% include "favourite.js" without context %}
    <script>
        $(document).ready(() => {
            $(".favourite-button").each((i, btn) => {
                FavoritingButton(
                    btn,
                    $(btn).siblings(".english-name").text().trim(),
                    () => btn.querySelector("i").classList.replace("far", "fas"),
                    () => btn.querySelector("i").classList.replace("fas", "far")
                );
            });
        });
    </script>
{% endblock scripts %}
