{% from "locking_action.html" import locking_action with context %}

{% extends "base.html" %}

{% block styles %}
    {% include "locking_action.css" without context %}
    <style>
        .admin-page {
            display: grid;
            grid-template-columns: 1fr;
        }

        .nav-links {
            display: grid;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            gap: 2em;
            padding: 2em;
        }

        .nav-links > a.active {
            padding: 1em;
            border: 3px solid rgb(37, 119, 196);
        }

        .content {
            padding: 2em;
        }

    </style>
{% endblock styles %}

{% block body %}
    <div class="admin-page">
        <div class="nav-links"  role="tablist">
            <a class="{{ 'active' if active_tab == 'elo' else '' }}" href="{{ url_for('admin_bp.admin_page', tab='elo') }}">
                ELO
            </a>
            <a class="{{ 'active' if active_tab == 'users' else '' }}" href="{{ url_for('admin_bp.admin_page', tab='users') }}">
                Users
            </a>
            <a class="{{ 'active' if active_tab == 'battles' else '' }}" href="{{ url_for('admin_bp.admin_page', tab='battles') }}">
                Battles
            </a>
            <a class="{{ 'active' if active_tab == 'favourited-waifus' else '' }}" href="{{ url_for('admin_bp.admin_page', tab='favourited-waifus') }}">
                Favourited Waifus
            </a>
        </div>
        <div class="content">
            {% if active_tab == "elo" %}
                <div id="elo">
                    {% call locking_action("ELO", maybe_elo_lock, maybe_elo_calc, "Update ELO Rankings") %}
                        Last updated at {{ maybe_elo_calc["date"] }}
                    {% endcall %}
                </div>
            {% elif active_tab == "users" %}
                <table id="users-table" class="admin-table display">
                    <thead>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Is Admin</th>
                        <th>Actions</th>
                    </thead>
                </table>
            {% elif active_tab == "battles" %}
                <div id="seed-battles">
                    <label for="number">Number of Battles</label>
                    <input id="seed-battles-number" name="number" type="number" value="1000" />
                    {% call locking_action("BATTLES", maybe_seed_lock, None, "Seed Database With Battles") %}
                        Last seeded at {{ maybe_seed_lock["date"] }}
                    {% endcall %}
                </div>
                <hr />
                <table id="battles-table" class="admin-table display">
                    <thead>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Date</th>
                        <th>Winner</th>
                        <th>Loser</th>
                        <th>Actions</th>
                    </thead>
                </table>
            {% elif active_tab == "favourited-waifus" %}
                <table id="favourited-waifus-table" class="admin-table display">
                    <thead>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Date</th>
                        <th>Character</th>
                        <th>Order</th>
                        <th>Actions</th>
                    </thead>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    {% include "locking_action.js" without context %}
    <script>
        $(document).ready(() => {
            {% if active_tab == "elo" %}
                LockingAction({
                    el: document.getElementById("elo"),
                    actionUrl: "/admin/action/elo"
                });
            {% elif active_tab == "battles" %}
                LockingAction({
                    el: document.getElementById("seed-battles"),
                    actionUrl: "/admin/action/seed",
                    startOptsFactory: () => ({
                        data: {
                            "number": document.getElementById("seed-battles-number").value || 5000
                        }
                    })
                });
            {% endif %}
        });
    </script>
    <script>
        const DELETE_BTN_COLUMN = {
            "targets": -1,
            "data": null,
            "defaultContent": "<button type='button' class='delete-button btn btn-danger'>Delete</button>"
        };

        function DeleteButton(dt, table, url) {
            $(table).on("click", async (event) => {
                if (event.target.classList.contains("delete-button")) {
                    const td = event.target.parentElement;
                    const row = td.parentElement;
                    const id = row.querySelector(".row-id").textContent;
                    await $.ajax({
                        url: `${url}/${encodeURIComponent(id)}`,
                        method: "DELETE"
                    });
                    await dt.ajax.reload();
                }
            });
        }

        $(document).ready(() => {
            $("#users-tab a").on("click", event => {
                event.preventDefault();
                $(this).tab("show");
            });
            $("#battles-tab a").on("click", event => {
                event.preventDefault();
                $(this).tab("show");
            });
            $("#favourited-waifus-tab a").on("click", event => {
                event.preventDefault();
                $(this).tab("show");
            });

            const usersTable = $("#users-table").DataTable({
                dom: 'Bfrtip',
                processing: true,
                serverSide: true,
                ajax: {
                    url: "dt/users",
                    type: "POST",
                    data: JSON.stringify
                },
                columns: [
                    { "data": "id", "name": "id", "className": "row-id" },
                    { "data": "email", "name": "email" },
                    { "data": "username", "name": "username" },
                    { "data": "is_admin", "name": "is_admin" },
                    DELETE_BTN_COLUMN
                ]
            });
            DeleteButton(usersTable, "#users-table", "/admin/users");

            const battlesTable = $("#battles-table").DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "dt/battles",
                    type: "POST",
                    data: JSON.stringify
                },
                columns: [
                    { "data": "id", "name": "id", "className": "row-id" },
                    { "data": "user_id", "name": "user_id" },
                    { "data": "date", "name": "date" },
                    { "data": "winner_name", "name": "winner_name" },
                    { "data": "loser_name", "name": "loser_name" },
                    DELETE_BTN_COLUMN
                ]
            });
            DeleteButton(battlesTable, "#battles-table", "/admin/battles");

            const favouritedWaifusTables = $("#favourited-waifus-table").DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "dt/favourites",
                    type: "POST",
                    data: JSON.stringify
                },
                columns: [
                    { "data": "id", "name": "id", "className": "row-id" },
                    { "data": "user_id", "name": "user_id" },
                    { "data": "date", "name": "date" },
                    { "data": "character_name", "name": "character_name" },
                    { "data": "order", "name": "order" },
                    DELETE_BTN_COLUMN
                ]
            });
            DeleteButton(favouritedWaifusTables, "#favourited-waifus-table", "/admin/favourited-waifus")
        })
    </script>
{% endblock scripts %}