{% from "carousel.html" import carousel with context %}
{% from "leaderboard.html" import leaderboard with context %}
{% from "battlecard.html" import battlecard with context %}

{% extends "base.html" %}

{% block styles %}
    {% include "carousel.css" without context %}
    {% include "leaderboard.css" without context %}
    {% include "battlecard.css" without context %}
    <style>
        .profile {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: var(--base-padding);
            gap: var(--base-padding);
        }

        .profile > * {
            width: 100%;
            margin: 0 var(--base-padding);
        }

        /* On a larger screen it looks better to have the best waifus
         * sit beside the recent battles.
         */
        @media screen and (min-width: 1280px) {
            .profile {
                grid-template-columns: 1fr 3fr;
            }

            .profile-picture {
                grid-column: 1 / -1;
            }

            .best-waifu-leaderboard {
                grid-column: 1 / 2;
            }

            .battle-list {
                grid-column: 2 / 3;
            }
        }

        .profile-picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: calc(2 * var(--base-padding));
        }

        .battle-list {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--base-padding);
        }

        /* When the screen becomes large enough we can comfortably fit
         * two of our battle cards side-by-side.
         */
        @media screen and (min-width: 1780px) {
            .battle-list {
                grid-template-columns: 1fr 1fr;
            }
        }

        /* On the profile page we hide the win/loss information from the top
         * waifus leaderboard since they're sorted by the user setting their
         * positions.
         */
        .best-waifus-leaderboard > .entry > .counter {
            display: none;
        }

    </style>
{% endblock styles %}

{% block body %}
    <div class="profile">
        <img src="https://cdn.myanimelist.net/images/characters/6/87123.jpg" class="profile-picture">
        <!-- best waifu leaderboard -->
        {% call(entry, is_empty) leaderboard("Waifus for laifu", best_waifus, class="best-waifus-leaderboard") %}
            {% if is_empty %}
                <span class="no-favourited-waifus-message">
                    It looks like you have no favourite waifus :(
                </span>
            {% endif %}
            <span class="date-favourited">
                {{ entry['date-favour'] }}
            </span>
        {% endcall %}
        <!-- recent battles -->
        <div class="battle-list">
            {% for battle in battles %}
                {{ battlecard(battle) }}
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    {% include "carousel.js" without context %}
{% endblock scripts %}