<style>
    .profile-picture {
        width: 150px;
        height: 150px;

        margin-right: 20px;

        border: 2px solid rgb(105,105,105);
        border-radius: 100%;
        box-shadow: 0 0 0rem 0rem rgb(105,105,105);
    }

    @media screen and (max-width: 500px) {
        .profile-picture {
            width: 100px;
            height: 100px;
        }
    }

    .profile-headers {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        /* border: 1px solid red;   */
    }

    .vertical-center {
        display: flex;
        align-items: center;
    }

    .nameQuote {
        /* margin-left: 20px; */
    }

    .info-box {
        margin: 10px;
        width: 40%;
    }

    .profile-headers:hover .button-customization {
        visibility: visible;
        transition: 0.4s;
    }

    .button-customization {
        visibility: hidden;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: rgb(255,255,255);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 20px;

        box-shadow: 0 3px 3px 1px rgb(105,105,105);

        opacity: 0.5;
        transition: 0.4s;
    }

    .button-customization:hover {
        /* background-color: rgb(169,169,169); */
        opacity: 1;
        transition: 0.4s;
    }

    .edit-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .personal-info {
        margin-top: 10px;
    }

    .container {
        width: 99%;
        max-width: none;
        align-self: center;
    }

    /* Personal user ranking leaderboard */

    .carousel {
        height: 136px;
        width: 96px;
    }

    .activity-container {
        display: grid;
        grid-template-columns: 3fr 8fr;
        gap: 1em;
        margin-bottom: 1em;
    }

    .battle-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        gap: 0.6em;
    }

    .leaderboard > .entry > .counter {
        display: none;
    }

    .picture-carousel {
        justify-self: center;
        align-self: center;
    }

    .best-waifus-leaderboard {
        grid-column: initial;
    }

    .leaderboard > .entry {
        grid-template-columns: max-content
                            5em
                            1fr
                            1fr
                            max-content;
    }

    .leaderboard > .entry > .date-favourited {
        align-items: flex-end;
    }

    @media screen and (max-width: 1440px) {
        .battle-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
        }
    }

    @media screen and (max-width: 500px) {
        .leaderboard > .entry {
            grid-template-columns: max-content
                                5em
                                1fr
                                1fr;
        }

        .leaderboard > .entry > .date-favourited {
            display: none;
        }
    }

    @media screen and (max-width: 330px) {
        .leaderboard > .entry {
            grid-template-columns: max-content
                                5em
                                1fr;
        }

        .leaderboard > .entry > .jp-name {
            display: none;
        }

        .leaderboard > .entry > .date-favourited {
            display: none;
        }
    }

    /* Css for battles summary */
    .summary {
        width: max-content;
        justify-self: center;
        display: grid;
        grid-template-columns: max-content 1fr 10ch 1fr max-content;
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        padding: 1em;
        width: 100%
    }

    .vs {
        align-self: center;
        justify-self: center;
        font-weight: 600;
        font-size: 1.5em;
        font-style: oblique;
    }

    .info {
        display: grid;
        justify-self: center;
        grid-template-rows: min-content max-content max-content 1fr;
        justify-content: center;
        align-content: center;
    }

    .name {
        align-self: center;
    }

    .info i {
        font-size: 2em;
        align-self: center;
        justify-self: center;
        padding: 0.5em 0.5em 0;
    }

    .winner-message, .loser-message {
        justify-self: center;
        font-style: oblique;
        padding-bottom: 1em;
    }

    .waifu-banner {
        justify-self: center;
        align-self: center;
    }

    @media screen and (max-width: 910px) {
        .summary {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content 1fr;
            justify-content: center;
            gap: 0.2em 2em;
            width: 100%;
        }

        .vs, .info > .message, .info > .japanese {
            display: none;
        }

        .info > i {
            font-size: 1em;
        }

        .info > .message {
            padding-bottom: initial;
        }

        .winner-info {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-start;
        }

        .loser-info {
            grid-area: 1 / 2 / 2 / 3;
            align-self: flex-start;
        }

        .picture-carousel {
            justify-content: center;
        }

        .picture-carousel.winner {
            grid-area: 2 / 1 / 3 / 2;
        }

        .picture-carousel.loser  {
            grid-area: 2 / 2 / 3 / 3;
        }
    }

    @media screen and (max-width: 840px) {
        .activity-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
        }
    }
</style>