{% from "carousel.html" import carousel with context %}
{% from "leaderboard.html" import leaderboard with context %}
{% from "battlecard.html" import battlecard with context %}

{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block styles %}
    {% include "carousel.css" without context %}
    {% include "leaderboard.css" without context %}
    {% include "battlecard.css" without context %}
    <style>
        .feed {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--base-padding);
            padding: var(--base-padding);
        }

        .battle-list {
            display: grid;
            gap: var(--base-padding);
            padding: 0 var(--base-padding);
        }

        .leaderboard > .header {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .leaderboard-dropdown {
            margin: var(--base-padding) 0;
            width: 50%;
        }

        .leaderboard-dropdown > button {
            width: 100%;
        }

        .leaderboard-dropdown > .dropdown-menu {
            width: 100%;
            text-align: center;
            font-style: normal;
        }

        .no-leaderboard-entries {
            text-align: center;
            font-style: italic;
            font-weight: 500;
            color: var(--info-message-color);
            padding-top: 1em;
        }


        @media screen and (min-width: 1024px) {
            .feed {
                grid-template-columns: 1fr 1fr;
                align-items: flex-start;
            }
        }

        /* When the screen becomes really small or when we first move to a
         * two column layout the text on the battle cards becomes really
         * cramped - so what we want to do is override their default layouts
         * and place the required content above the carousel.
         */
        @media screen and (min-width: 1024px) and (max-width: 1380px), screen and (max-width: 680px) {
            .battlecard {
                grid-template-columns: 1fr 1ch 1fr;
                grid-template-rows: max-content 1fr;
            }

            .battlecard > .vs::after,
            .battlecard > .info > .message,
            .battlecard > .info > .japanese {
                display: none;
            }

            .battlecard > .picture-carousel {
                padding-top: calc(0.5 * var(--base-padding));
            }

            .battlecard > .picture-carousel.winner {
                grid-area: 2 / 1 / 3 / 2;
            }

            .battlecard > .picture-carousel.loser {
                grid-area: 2 / 3 / 3 / 4;
            }

            .battlecard > .vs {
                grid-row: 1 / -1;
                height: 100%;
                width: 2px;
                background-color: var(--seperator-color);
                border-radius: var(--base-border-radius);
            }
        }

    </style>
{% endblock styles %}

{% block body %}
    <div class="feed">
        {% call(entry, is_header, is_no_content, is_entry) leaderboard("main-leaderboard", None, leaderboard_entries) %}
            {% if is_header %}
                <div class="leaderboard-dropdown dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="leaderboard-dropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        {{ leaderboard_name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="leaderboard-dropdown">
                        <a class="dropdown-item" href="{{ url_for('feed_bp.feed', leaderboard='highELO')}}">Highest ELO</a>
                        <a class="dropdown-item" href="{{ url_for('feed_bp.feed', leaderboard='lowELO')}}">Lowest ELO</a>
                        <a class="dropdown-item" href="{{ url_for('feed_bp.feed', leaderboard='winners') }}">Top Waifus</a>
                        <a class="dropdown-item" href="{{ url_for('feed_bp.feed', leaderboard='active') }}">Active Waifus</a>
                    </div>
                </div>
            {% elif is_no_content %}
                <span class="no-leaderboard-entries">
                    It looks like there are no entries in the leaderboard :(
                </span>
            {% endif %}
        {% endcall %}
        {% call(entry, is_header, is_no_content, is_entry) leaderboard("recent-battles-leaderboard", "Recent Battles", class="recent-battles-leaderboard") %}
            {% if is_no_content %}
                <div class="battle-list">
                    {% for battle in battles %}
                        {{ battlecard("battle-card-%d" | format(loop.index)  ,battle) }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endcall %}
    </div>
{% endblock body %}

{% block scripts %}
    {% include "carousel.js" without context %}
{% endblock scripts %}
