<style>

    .feed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em;
    }

    .top-waifus-leaderboard {
        grid-column: 1 / 2;
    }

    .active-waifus-leaderboard {
        grid-column: 2 / 3;
    }

    .summary {
        width: max-content;
        justify-self: center;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: max-content 1fr 10ch 1fr max-content;
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        padding: 1em;
        width: 100%
    }

    .vs {
        align-self: center;
        justify-self: center;
        font-weight: 600;
        font-size: 1.5em;
        font-style: oblique;
    }

    .info {
        display: grid;
        justify-self: center;
        grid-template-rows: min-content max-content max-content 1fr;
        justify-content: center;
        align-content: center;
    }

    .info i {
        font-size: 2em;
        align-self: center;
        justify-self: center;
        padding: 0.5em 0.5em 0;
    }

    .winner-message, .loser-message {
        justify-self: center;
        font-style: oblique;
        padding-bottom: 1em;
    }

    .waifu-banner {
        justify-self: center;
        align-self: center;
    }

    .carousel {
        height: 136px;
        width: 96px;
    }

    .entry > .rank {
        font-weight: 600;
    }

    @media screen and (max-width: 1024px) {
        .feed {
            display: grid;
            gap: 1em;
            grid-template-columns: repeat(auto-fit, max-content);
            justify-content: center;
            align-content: center;
        }

        .summary {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content 1fr;
            justify-content: center;
            gap: 0.2em 2em;
            margin: 0;
            width: 100%;
        }

        .vs, .info > .message, .info > .name {
            display: none;
        }

        .info > i {
            font-size: 1em;
        }

        .info > .message {
            padding-bottom: initial;
        }

        .winner-info {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-start;
        }

        .loser-info {
            grid-area: 1 / 2 / 2 / 3;
            align-self: flex-start;
        }

        .picture-carousel {
            justify-self: center;
        }

        .picture-carousel.winner {
            grid-area: 2 / 1 / 3 / 2;
        }

        .picture-carousel.loser  {
            grid-area: 2 / 2 / 3 / 3;
        }

        .top-waifus-leaderboard {
            grid-column: initial;
        }

        .active-waifus-leaderboard {
            grid-column: initial;
        }

        .leaderboard > .entry {
            grid-template-columns: minmax(2ch, max-content)
                               5em
                               1fr
                               minmax(min-content, max-content)
                               minmax(min-content, max-content);
        }

        .leaderboard > .entry > .jp-name {
            display: none;
        }
    }

    @media screen and (max-width: 780px) {
        .feed {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width: 390px) {
        .leaderboard > .entry {
            grid-template-columns: 5em
                               1fr
                               minmax(min-content, max-content)
                               minmax(min-content, max-content);
        }

        .leaderboard > .entry > .rank {
            display: none;
        }
    }

</style>