<style>

    .feed {
        display: grid;
        grid-template-columns: 1fr;
    }

    .summary {
        width: max-content;
        justify-self: center;
        display: grid;
        grid-template-columns: max-content 1fr 10ch 1fr max-content;
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        padding: 1em;
        margin: 1em;
        width: calc(100% - 2em);
    }

    .vs {
        align-self: center;
        justify-self: center;
        font-weight: 600;
        font-size: 1.5em;
        font-style: oblique;
    }

    .info {
        display: grid;
        justify-self: center;
        align-self: center;
        grid-template-rows: min-content max-content max-content 1fr;
        justify-content: center;
        align-content: center;
    }

    .info i {
        font-size: 2em;
        align-self: center;
        justify-self: center;
        padding: 0.5em 0.5em 0;
    }

    .winner-message, .loser-message {
        justify-self: center;
        font-style: oblique;
        padding-bottom: 1em;
    }

    .waifu-banner {
        justify-self: center;
        align-self: center;
    }

    .carousel {
        height: 136px;
        width: 96px;
    }

    @media screen and (max-width: 840px) {
        .feed {
            display: grid;
            margin-top: 1em;
            gap: 1em;
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
            align-content: center;
        }

        .summary {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content 1fr;
            justify-content: center;
            gap: 0.2em 2em;
            margin: 0;
            width: 100%;
        }

        .vs, .info > .message, .info > .name {
            display: none;
        }

        .info > i {
            font-size: 1em;
        }

        .info > .message {
            padding-bottom: initial;
        }

        .winner-info {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-start;
        }

        .loser-info {
            grid-area: 1 / 2 / 2 / 3;
            align-self: flex-start;
        }

        .picture-carousel.winner {
            grid-area: 2 / 1 / 3 / 2;
            justify-self: center;
        }

        .picture-carousel.loser  {
            grid-area: 2 / 2 / 3 / 3;
        }
    }

</style>