{% extends "base.html" %}
{% block body %}
    {% include "form.css" without context %}
    {% from "field.html" import render_field %}
    <style>
        /* Place the 'forgot password?' link at the end of its grid cell. */
        .forgot-password-link {
            justify-self: flex-end;
        }

        .register-link {
            grid-column: 1 / -1;
            margin-bottom: 1em;
        }
    </style>

    <section class="login-container">
        <form class="login-form" method="POST" action="{{ url_for('auth_bp.login') }}">
            {{ form.hidden_tag() }}
            <h6 class="header">Login to Animeu!</h6>
            {{ render_field(form.email, 1) }}
            {% call render_field(form.password, 2) %}
                <a tabindex="5" href="auth/forgot" class="forgot-password-link">Forgot password?</a>
            {% endcall %}
            <input tabindex="3" type="submit" name="submit" value="Sign In" class="btn btn-success" />
            <a tabindex="4" href="register" class="register-link">No Account? Register!</a>
        </form>
    </section>

    <script>
        $(document).ready(() => {
            $("input[name='email']").focus();
        });
    </script>
{% endblock body %}