name: animeu
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.dev.linux.txt
          pip install -r requirements.apsw.txt
          pip install -e .
      - name: Lint
        run: |
          pylint animeu
          pydocstyle animeu
      - name: Test with pytest
        run: |
          DATA_FILE=characters.json FLASK_APP=animeu.app python -Wignore -m unittest animeu.testing.integration_tests
          coverage report